
.navbar a{
    padding: 1rem;
    color: gray;
    border-right: 2px solid #dee2e6;
    flex: 1 1 auto;
    text-align: center;
    background-color: #ffffff;
    flex-direction: row;
}
.navbar .selected{
    background-color: #F9414A;
    color: #ffffff;
    top:-4px;
    left:-4px;
    box-shadow: 6px 2px 0px #999,
                5px 3px 0px #999,
                4px 4px 0px #999,
                3px 5px 0px #999,
                2px 6px 0px #999,
                1px 7px 0px #999;
}
.navbar-collapse a{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-decoration: none;
}
.navbar-collapse a:hover{
    color: #F9414A;
    font-size: 14px;
}
