
.navbar a{
    padding: 1rem;
    color: gray;
    border-right: 2px solid #dee2e6;
    flex: 1 1 auto;
    text-align: center;
    background-color: #ffffff;
    flex-direction: row;
}
.navbar .selected{
    background-color: #F9414A;
    color: #ffffff;
    top:-4px;
    left:-4px;
    box-shadow: 0px 6px 0px #999;
                
                
}
.navbar-collapse a{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-decoration: none;
}
.navbar-collapse a:hover{
    background-color: #F9414A;
    color: #ffffff;
    top:-4px;
    left:-4px;
    box-shadow: 0px 6px 0px #999;
}
