<nav class="navbar navbar-expand-lg bg-light m-1 rounded nav-pills nav-fill text-uppercase">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <a href="#">locations</a>
      <a class="selected" href="#">Check Rates</a>
      <a href="#">Gifts</a>
      <a href="#">food & wine</a>
      <a href="#">about</a>
      <a class="selected" href="#">contact</a>
    </div>
</nav>
