<div class="  bg-light text-uppercase">
    <nav class="m-2 navbar navbar-light">
      <div class="row">
        <div class="col">
            <h5><i class="fab fa-twitter"></i></h5>
        </div>
        <div class="col">
          <h5><i class="fab fa-facebook"></i></h5>
        </div>
        <div class="col">
          <h5><i class="fas fa-globe"></i></h5>
        </div>
        <div class="col">
            <h5><i class="fas fa-share-alt"></i></h5>
        </div>
        <div class="col">
           <h5><i class="fas fa-share"></i></h5>
        </div>
      </div>  
      <form class="form-inline my-2 my-lg-0 text-uppercase">
          <input class="form-control mr-sm-2" type="search" placeholder="SUBSCRIBE EMAIL" aria-label="Search">
          <h5><i class="c-center fas fa-envelope-square"></i></h5>
        </form>
      
      </nav>
</div>
