<nav class="ux-menu navbar navbar-expand-lg rounded navbar-light p-0 mt-2 rounded nav-pills nav-fill text-uppercase">
        <a href="#">
            <h5><i class="fab fa-twitter"></i></h5>
        </a>
        <a href="#">
            <h5><i class="fab fa-facebook"></i></h5>
        </a>
        <a class="selected" href="#">
            <h5><i class="fas fa-globe"></i></h5>
        </a>
        <a href="#">
            <h5><i class="fas fa-share-alt"></i></h5>
        </a>
        <a href="#">
            <h5><i class="fas fa-share"></i></h5>
        </a>
        <div class="n-hover">
            <a class="form-inline" href="#">
                <input type="input" placeholder="SUBSCRIBE EMAIL">
                <span>
                    <h5><i class="ml-2 c-center fas fa-envelope-square"></i></h5>
                </span>
            </a>
        </div>
</nav>