.b-white{
    background-color:white;
    opacity: 0.7;
    color: black;
    align-self: center !important;
}
.t-1{
    font-family: fantasy; font-size: 28px; 
    font-style: normal; font-variant: normal; 
    font-weight: 700; line-height: 26.4px;
    align-content: center;
}
.text-center{
    font-size-adjust: unset;
}
.t-custom{
        font-family: fantasy; font-size: 12px;
}