<div class=" bg-light card-group text-uppercase c-center mt-3">
    <div class="card bg-light border-0 align-self-center ">
      <img  class="c-center card-img-top mx-auto d-block"  src="../../assets/images/plate1.png" alt="Card image cap">
    </div>
    <div class="card bg-light  border-0">
      <div class="card-body ">
        <h5 class="card-title in-grey">Breakfast</h5>
        <p class="card-text m-0"><small class="text-muted">belgian waffle</small></p>
        <p class="card-text"><small class="text-muted">steamed milk</small></p>
      </div>
      <div class="card-body ">
          <h5 class="card-title in-grey">lunch</h5>
          <p class="card-text m-0"><small class="text-muted">house special chicken</small></p>
          <p class="card-text"><small class="text-muted">seadfood pasta</small></p>
        </div>
        <div class="card-body ">
            <h5 class="card-title in-grey">dinner</h5>
            <p class="card-text m-0"><small class="text-muted">soup of the day</small></p>
            <p class="card-text"><small class="text-muted">chef's pick sashimi</small></p>
          </div>
    </div>
    <div class="card bg-light border-0 align-self-center mr-3">
       <img class="c-center card-img-top mx-auto d-block" src="../../assets/images/plate2.png" alt="Card image cap">
     
    </div>
  </div>