<div class="ux-form   text-uppercase ">
  <div class="card text-white">
    <img class="card-img-bottom img-fluid" src="../../assets/images/clime.png"
      >
    <div class="card-img-overlay">
      <label>San Diego</label>
      <h5> 23 C <i class="ml-3 fas fa-cloud-sun-rain"></i></h5>
      <div class="row">
        <div class="col"><i class="fas fa-sun"></i></div>
        <div class="col"><i class="fas fa-feather-alt"></i></div>
        <div class="col"><i class="fas fa-poo-storm"></i></div>
      </div>
      <div class="row text-uppercase">
          <div class="col">wed</div>
          <div class="col">thu</div>
          <div class="col">frid</div>
        </div>
    </div>
  </div>