<div class="row"><!-- header -->
  <div class="col-sm-12"><uxc-header></uxc-header></div>
</div>
<div class="row"><!-- seccion 1 -->
  <div class="col-sm-4">
    <div class="row">
        <div class="col-sm-12">
          <uxc-v-menu></uxc-v-menu>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <uxc-search></uxc-search>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-8">
          <uxc-login></uxc-login>
      </div>
      <div class="col-sm-4">
        <uxc-calendar></uxc-calendar>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
      <uxc-clime></uxc-clime>
      </div>
      <div class="col-sm-8">
        <uxc-order></uxc-order>
      </div>
      <div class="col-sm-12">menu social</div>
    </div>
  </div>
</div>
<div class="row"><!--seccion 2-->  
  <div class="col-sm-8">
    menu
  </div>
  <div class="col-sm-2">
    barras
  </div>
</div>
<div class="row"><!--seccion 3-->
  <div class="col-sm-6">
    corazones
  </div>
  <div class="col-sm-6">
    video
  </div>
</div>
<div class="row"><!--seccion 4-->
  <div class="col-sm-12">footer</div>
</div>
<router-outlet>------------------</router-outlet> <!-- para manejo de rutas-->