/* You can add global styles to this file, and also import other style files */
body {
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 12px !important;
}
.ux-input{
    border: none;
    background-color: #f8f9fa;
}
.ux-menu a{
    padding: 1rem;
    color: gray;
    flex: 1 1 auto;
    text-align: center;
    background-color: #ffffff;
    flex-direction: row;
}
.ux-menu .selected{
    background-color: #F9414A;
    border-right: 2px solid #F9414A;
    color: #ffffff;
    top:-4px;
    left:-4px;
}
.ux-menu a:hover{
    background-color: #F9414A;
    border-right: 2px solid #F9414A;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    color: #ffffff;
    top:-4px;
    left:-4px;
}
.calendar{
    content: "/assets/icons/calendar.svg";
}
.c-center{
    align-content:center;
    text-align: center;
}
.img-fluid{
    filter: grayscale(40%);
  }