<div class="ux-form   text-uppercase ">
  <form class="p-5 bg-light rounded-top">
    <div class="form-group ">
      <label for="exampleInputEmail1">check in</label>
      <div class="input-group mb in-hover-green">
        <input type="date" class="ux-input form-control text-uppercase" data-date-format="MMM d, yyyy" value="Jan-21-2018"
          min="2018-01-01">
      </div>
    </div>
    <div class="form-group ">
      <label for="exampleInputEmail1">check out</label>
      <div class="input-group mb in-hover-green">
        <input type="date" class="ux-input form-control text-uppercase" data-date-format="MMMM-dd-yyyy" value="Jan-21-2018"
          min="2018-12-01">
      </div>
    </div>
    <div class="form-group ">
      <label for="exampleInputEmail1">Guest</label>
      <div class="input-group mb-3 in-hover-green">
        <input type="number" class="ux-input form-control ">
      </div>
    </div>
    <div class="c-center align-self-center ">
      <button type="submit" class="btn-block btn align-self-center">Submit</button>
    </div>
  </form>
      <img class="img-fluid rounded-bottom " src="../../assets/images/check.jpeg" >
</div>