.ux-form label{
    color: #fff;
}
.ux-input{
    border: none;
    color: #cfcfcf;
    background-color: transparent;
}

input[type=date]:focus {
    background-color: #CDFAFC;
  }


  input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../../assets/icons/hotel-solid.svg) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}
.btn {
  background-image: linear-gradient( to right, #CDFAFC, #cfcfcf);
  border-radius: 50px;
  box-shadow: 0 8px 6px -6px black;
} 
